.ipynb_checkpoints/ch01. \[용어 정의\]빅데이터, 플랫폼, 빅데이터 아키텍쳐-checkpoint.ipynb
.ipynb_checkpoints/ch02. 데이터 파이프라인_-checkpoint.ipynb
.ipynb_checkpoints/ch02. 데이터 파이프라인_데이터 웨어하우스_데이터 레이크_ETL_ELT_워크플로 관리 도구 비교-checkpoint.ipynb
.ipynb_checkpoints/ch03. \[용어 정의\]Hadoop, Hadoop ecosystem, Hadoop cluster-checkpoint.ipynb
